body {
    font-family: '', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    margin: 0;
}